<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <div id="app" class="d-flex" style="min-height: 100vh;">
      <header class="d-flex flex-column justify-content-between">
        <ul id="<%- title %>">
          <li>
            <h1>
              <a href="javascript:;"><img src="./assets/images/logo-ANSWER.svg" alt=""/></a>
            </h1>
          </li>
          <li>
            <span class="material-icons">
              assessment
            </span>
            <a href="javascript:;">Dashboard</a>
          </li>
          <li>
            <span class="material-icons"> forum </span><a href="">Question</a>
          </li>
          <li id="assignment">
            <span class="material-icons"> assignment </span
            ><a href="./index.html">Assignment</a>
          </li>
          <li>
            <span class="material-icons"> video_library </span
            ><a href="javascript:;">Course</a>
          </li>
          <li id="admin">
            <span class="material-icons"> supervisor_account </span
            ><a href="./admin.html">Admin</a>
          </li>
          <li>
            <span class="material-icons"> settings </span
            ><a href="javascript:;">Settings</a>
          </li>
        </ul>
        <div class="user d-flex">
          <img src="./assets/images/AndyChen.jpeg" alt="" />
          <div>
            <h2>Andy Chen</h2>
            <p>andy0401@mail.com</p>
          </div>
        </div>
      </header>
      <main class="flex-grow-1">
        <%- contents %>
      </main>
    </div>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
