html {
  font-size: 10px;
  line-height: 10px;
}

body {
  color: $dark;
}

// * {
//   outline: 1px solid red;
// }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h4, h5, h6, p {
  margin: 0;
}

textarea {
  outline: none;
  border: none;
  resize: none;
}